.sidebar-content {
    position: sticky;
    top: 0;
    left: 0;
    width: $sidebar-width;
}

.navbar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.main {
    overflow: visible;
}


